@import url(https://db.onlinewebfonts.com/c/29e676384bcea6f376417bcfee5c8595?family=ivi+Sans+Regular);

body {
   background-color: #100e19;
   font-family: ivi Sans Regular ,Arial,Helvetica,sans-serif;
   color: white;
   
}

a {
  color: inherit; /* Устанавливает цвет ссылки таким же, как у родительского элемента */
  text-decoration: none; /* Убирает подчеркивание */
}

a:hover {
  color: inherit; /* Можно изменить цвет при наведении */
  text-decoration: none; /* Убрать подчеркивание при наведении, если необходимо */
}

.header {
   
   display: flex;
   width: 99%;

   height: 70px;
   
   border-bottom: 1px solid #fff;
   
   justify-content: space-between;
   
}

.logo > h1 {
   margin: 12px;
}

.main-nav {
   list-style: none;
   display: flex;
   text-align: center;
   padding:  0;
   margin: 0;
   
}

.user-nav {
   display: flex;

}

.main-nav > li {
   margin: 0 10px;

}


.avatar {
   height: 40px;
   margin-top: 10px;
   margin-right: 12px;
}
   
 .search {
   width: 300px;
   vertical-align: middle;
   white-space: nowrap;
   position: relative;
 }

 .search input {
   width: 180px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 9px;
 }

 .search .icon{
   position:absolute;
   top: 3px;
   margin-left: 15px;
   margin-top: 17px;
   z-index: 1;
   color: #4f5b66;
 }

 .movie-container {
   display: flex;
   margin-top: 20px;
   align-items: flex-start;
 }
 
 .movie-poster {
   flex-basis: 30%;
   padding: 10px;
   text-align: center;
 }
 
 .movie-poster img {
   width: 100%;
   height: auto;
   max-width: 300px; 
 }
 
 #rateButton {
   display: block;
   margin-top: 20px;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   border: none;
   cursor: pointer;
 }
 
 #rateButton:hover {
   background-color: #45a049;
 }
 
 .movie-info {
   flex-basis: 70%;
   padding: 20px;
   padding-right: 200px;
   font-size: 18px;
 }
 
 .movie-info h2 {
   margin-top: 0;
   font-size: 24px;
 }
 
 #movieDetails {
   list-style-type: none;
   padding: 0;
 }
 
 #movieDetails li {
   margin-bottom: 10px;
 }

 #kinobox-container {
   display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  width: 100%; 
  z-index: 0;
 }

 .watch-online-title {
   text-align: center; 
   margin-top: 20px; 
   margin-bottom: 30px; 
 }
 
 #movieRating, #userRating {
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
}

.comments-section {
  text-align: center; /* Центрирование всего содержимого секции комментариев */
  margin: 20px auto;
  width: 1000px;
}

.comments-section h3 {
  margin-bottom: 20px; /* Отступ для заголовка */
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование содержимого по горизонтали */
  
}

.comment-form textarea {
  width: 100%; /* Ширина, равная ширине плеера */
  height: 100px;
  padding: 10px;
  background-color: #000; /* Черный фон */
  color: #fff; /* Белый текст */
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.comment-form textarea::placeholder {
  color: #bbb; /* Цвет для текста подсказки */
}

.comment-form button {
  padding: 10px 20px;
  margin-top: 10px; /* Отступ сверху */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
} 

.comment-form button:hover {
  background-color: #45a049; /* Темно-зеленый фон при наведении */
}


.comments-list {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.crew-carousel {
  display: flex;
  align-items: center;
  overflow: visible;
  width: 1000px;
}

.crew-carousel::-webkit-scrollbar {
  display: none;
}

.crew-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 0 10px;
  flex-wrap: nowrap;
  width: max-content;
}

.crew-list::-webkit-scrollbar {
  display: none;
}

.crew-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5dvb;
  width: 120px;
  transition: transform 0.3s ease;
  
}

.crew-member:hover {
  transform: scale(1.1); /* Увеличивает размер карточки на 10% */
}

.crew-photo {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.crew-name {
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center;
}

.crew-role {
  font-size: 14px;
  color: #ccc;
  text-align: center;
}

.scroll-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
}


.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; /* Отображается выше контента */
}

.modal-content {
  background-color: #100e19;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



/* Скрыть прокрутку фона, когда модальное окно открыто */
body.modal-open {
  overflow: hidden;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #100e19;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  
}

/* Заголовок модального окна */
.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff; /* Цвет текста заголовка */
}

/* Закрыть кнопку */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff; /* Цвет крестика */
  cursor: pointer;
}

/* Стили для формы */
.modal form {
  display: flex;
  flex-direction: column;
}

/* Стили для полей ввода */
.modal input[type="text"],
.modal input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Цвет границы полей ввода */
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px; /* Половина ширины элемента */
  font-size: 12px;
}

/* Стили для отображения подсказки */
.show-tooltip {
  visibility: visible;
}


/* Стили для кнопок */
.modal button {
  padding: 10px 20px;
  background-color: #007bff; /* Цвет фона кнопок */
  color: #fff; /* Цвет текста кнопок */
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}


.comments-list {
  text-align: left;
}


.review {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.review-author {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px; /* Отступ между автором и текстом отзыва */
}

.review-text {
  text-align: left;
  margin-bottom: 10px; /* Отступ между текстом отзыва и кнопкой удаления */
}

.review button {
  padding: 5px 10px;
  background-color: #db1a1a; /* Красный фон */
  color: white; /* Белый текст */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.review button:hover {
  background-color: #b31414; /* Темно-красный фон при наведении */
}

.movie-poster {
  text-align: center; /* Выравнивание содержимого по центру */
  margin-bottom: 10px; /* Отступ снизу, если нужен */
}

#movieRating, #userRating {
  margin-top: 10px; /* Отступ сверху от изображения */
}


#ratingContainer button {
  display: block; /* Блочный элемент */
  margin: 10px auto; /* Отступ и автоматическое выравнивание по центру */
  padding: 10px 0; /* Отступы сверху и снизу */
  background-color: #4CAF50; /* Зеленый фон */
  color: white; /* Белый текст */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 210px; /* Автоматическая ширина */
}

#ratingContainer button:hover {
  background-color: #45a049; /* Темно-зеленый фон при наведении */
}

#ratingContainer input {
  -webkit-appearance: none; /* Убираем стандартный вид для Webkit-браузеров */
  appearance: none;
  width: 210px; /* Ширина слайдера */
  height: 10px; /* Высота ползунка */
  background: #2b303b; /* Цвет фона ползунка */
  outline: none; /* Убираем контур при фокусе */
  opacity: 0.7; /* Прозрачность ползунка */
  -webkit-transition: .2s; /* Анимация при наведении */
  transition: opacity .2s;
  margin-bottom: 20px;
  margin-left: 30px;
  
}

#ratingContainer input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убираем стандартный вид для Webkit-браузеров */
  appearance: none;
  width: 25px; /* Ширина ползунка */
  height: 25px; /* Высота ползунка */
  background: #4CAF50; /* Цвет ползунка */
  cursor: pointer; /* Вид курсора */
  border-radius: 50%; /* Скругляем углы */
}

#ratingContainer input::-moz-range-thumb {
  width: 25px; /* Ширина ползунка */
  height: 25px; /* Высота ползунка */
  background: #4CAF50; /* Цвет ползунка */
  cursor: pointer; /* Вид курсора */
  border-radius: 50%; /* Скругляем углы */
}

#rangeValueDisplay {
  margin-left: 20px;
  font-size: 20px;
  color: #fff; /* Цвет текста */
}


#collectionContainer {
  text-align: center; /* Выравнивание по центру */
  margin-top: 10px; /* Отступ сверху */
}

#collectionSelect {
  padding: 10px; /* Внутренний отступ */
  background-color: #2b303b; /* Темно-серый фон */
  color: white; /* Белый текст */
  border: 1px solid #555; /* Темно-серая граница */
  border-radius: 5px; /* Скругление углов */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Вид курсора */
  outline: none; /* Убираем стандартный контур */
}

#collectionSelect:hover {
  background-color: #3c4452; /* Немного светлее при наведении */
}

#collectionSelect:focus {
  background-color: #4f5b66; /* Светло-серый фон при фокусе */
}

#collectionSelect option {
  background-color: #100e19; /* Фиолетовый фон для опций */
  color: white; /* Белый текст */
  padding: 5px; /* Внутренний отступ */
}





